body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
}
.panel-custom {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    padding: 30px 0 20px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.panel-custom .card {
    height: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.panel-custom .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.panel-custom .card.show {
    font-size: 33px;
}

.panel-custom .card.match {
    cursor: default;
    background: #d89c1d;
    font-size: 33px;
}
